<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="169" package="com.cybercapital.renuevate.develop" split="config.arm64_v8a" n1:splitTypes="base__abi"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:n1="http://schemas.android.com/apk/distribution">
    <application android:hasCode="false" android:extractNativeLibs="false">
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2" />
    </application>
</manifest>